.productos-containera2a4 {
  display: inline-block;


  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff; 
  width: 150px; 
  
  margin: 30px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}


.nombrea2, .precioa2, .descripciona2, .totala2, .cantidad-labela2 {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  padding: 5px; 
  border-radius: 4px; 
  background-color: #fff; 
}

.imagen-productoa2 {
 
  max-width: 40%; 
  height: auto; 
  margin: 5px auto;
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.input-cantidada2 {
  margin-left: 20px; 
  margin-bottom: 20px;
  border-radius: 5px;
  border-color:rgb(145, 145, 145);
  border-top:rgb(226, 226, 226);
  border-left:rgb(226, 226, 226);
  outline: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



  
