.contenedora4 {
  display: flex;
  
  justify-content: space-evenly;
  align-items: flex-start;

  

  
  
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: 'Open Sans', sans-serif;
  }


 
    

  


  .seccion-izquierda2 > :nth-child(2) {
     
    
    
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 325px;
    margin-top: 20px;
   
   
  }
  .ordenFinal{
    margin-top: 70px;
  }
  .backgroundP{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: auto;
    margin-bottom: 100px;
  }
  .direccion-entrega {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
    margin-top: 50px;
    font-weight:lighter;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    
  }
  .delivery{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
  }
  .precioFinal{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 10px;
    line-height:2;
    
  }
  .totalpay{
    font-weight: bold;
    font-size: 20px;
   }
  
   .allprices{
    color: rgb(0, 68, 255)
   }
  .envio,
  .total-productos {
    margin-top: 10px; 
    
      font-weight: bold;
    
  }
  
  .seccion-derecha {
    margin-top: 20px;
    
    
    width: 600px;
    height: auto;
   
   

    display: flex;
    flex-direction: column;
    
  }

  .nameCard{
    min-width: 255px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #afafaf;
    outline: 1px solid #ffffff;
    
  }
  .nameCard::placeholder {
   
    color: #a2a9da;     
  font-size: 18px;
  padding-left: 12px;
    
  }
  .linea {
    width: 1px; 
    height: 600px; 
    background-color: #c0c0c0; 
    display: inline-block;
    
    margin-top: 100px;
  }
  .btsa1 {
    background-color: #ff7c12; 
    color: white; 
    font-size: 16px; 
    font-weight: 600; 
    border: none; 
    border-radius: 4px; 
    padding: 12px 24px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    outline: none; 
    width: 100%;
  }
  
  .btsa1:hover {
    background-color: #23c574; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .btsa1:active {
    background-color: #3a4b8f; 
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .btsa1:disabled {
    background-color: #a0a0a0; 
    cursor: not-allowed; 
    box-shadow: none; 
    color: #666; 
  }

/*-----------------------0--------------*/

.stripe-form {

  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label {
  display: block;
  margin-bottom: 10px;
  color: #32325d;
}

.StripeElement {
  background-color: white;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.StripeElement--focus {
  box-shadow: 0 0 0 0.2rem rgba(50, 50, 93, 0.25);
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.buttonS {
  background-color: #32325d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buttonS:disabled {
  background-color: #ccc;
}





.credit-card-icons i {
  font-size: 24px; 
  margin-right: 10px;
}

.fa-cc-visa {
  color: #979797; 
}

.fa-cc-mastercard {
  color: #979797; 
}

.fa-cc-discover {
  color: #979797;
}

.fa-cc-jcb {
  color: #979797; 
}

.fa-cc-diners-club {
  color: #979797; 
}


.cvc-input-icon-wrapper {
  position: relative;
}

.cvc-icon {
  color: #979797; 
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  font-size: 16px; 
}


.CardCvcElement {
  padding-right: 30px; 
}
.legalTerm{
  margin-top: 20px;
}
@media (max-width: 768px) {
  .contenedora4 {
    display: flex;
    
   flex-direction: column;
   align-items: center;
    }
    .linea {
      display: none;
    }
    .backgroundP{
      
      
      
      margin-bottom: 0;
    }

    .seccion-derecha {
     
      
      width: 350px;
      
    }
}
