*{ /*00000000000000000000000000000000000000000000000*/
  margin: 0;
  box-sizing: border-box;
}


/* Estilos base para todos los dispositivos */
nav {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0,0,0,0.4); /* Añade sombra al menú */
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 10px;/*0000000000000000*/
  
  /* margin:0; Se ajusta para ocupar el ancho completo */

  display: flex;
  justify-content: center; /* Centra los elementos para pantallas pequeñas */
  align-items: center;
  width: 100%; /* Asegura que el ul ocupe todo el ancho disponible */
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s; /* Transición suave */
}

.lh1:hover  {
  background-color: #555; /* Cambio de color al pasar el ratón */
  
}
/* Estilos específicos para notebooks y dispositivos de escritorio */


/* Estilos específicos para dispositivos móviles */




/* Agrega el estilo para hacer el nav fijo al hacer scroll */
.fixed-nav {
 
  position: fixed;
  top:40px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2); /* Opcional: ajusta la sombra para el estado fijo */
  /*transition: all 1s;  Transición suave al cambiar de posición */
  margin-bottom: 100px;
}

/*modal*/

/* Estilos para el contenedor principal del componente */
.mi-componente-container {
  padding: 0px;
  margin-left: 15px;
  background-color: rgb(255, 136, 0);
  border-radius: 10px;
}

.mi-componente-container:hover{
  padding: 0px;
  background-color: rgb(39, 151, 58);
  border-radius: 10px;
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s;
  
}

.modal-contenta01 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  max-width: 500px;

 
}

/* Botón para cerrar el modal */
.close-modal-buttona1 {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.close-modal-buttona1:hover {
  background-color: #0056b3;
}

.total-estimado{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.base1{
  display: flex;
  justify-content: space-between;
}
.lh12{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: fixed; /* Fija el elemento en una ubicación constante en la pantalla */
  top: 0;
    text-align: left;/*000000000000000000*/
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;/*000000000000000000*/
    z-index: 2000;
  }

  nav ul {
    
    flex-direction: column;
    
    display: none; /* Oculta inicialmente el menú en móviles */
    justify-content: center; /* Asegura que los elementos estén centrados verticalmente */
  }
  nav ul li {/*0000000000000000000000000000000000*/
    
    width: 100%;
  }
  nav ul li a {
   
    padding: 10px;
    text-align: center;
  }

  /* Cuando el menú está activo */
  nav ul.show {
    
    display: flex;
  }
  nav ul {
    
    padding:0;
  }
  .mi-componente-container {
    
    margin-left:0;
    
  }
  
}

@media (min-width: 768px) {
  nav {
    
    --nav-horizontal-shift: 65%; /* Variable para ajustar el desplazamiento horizontal */
   /* margin-top: 40px; /* Aumenta la distancia hacia arriba 
    margin-bottom: 40px; /* Aumenta la distancia hacia abajo */
  }

  nav ul {
    justify-content: flex-start; /* Mantiene los elementos alineados al inicio (izquierda) */
    padding-left: var(--nav-horizontal-shift); /* Aplica el desplazamiento horizontal */
  }

  .menu-btn {
    display: none;
  }
  .fixed-nav {
 
   
    top:0;
    
    
  }
}






