
.outerContainer {
    display: flex;
    justify-content: left;
    width: 100%; 
    margin-left: 500px;
  }
  
  .galleryContainer {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 20px; 
    padding: 20px;
  }
  
  .galleryImageContainer {
    border: 1px solid #ccc; 
    transition: transform 0.2s ease; 
  }
  
  .galleryImageContainer:hover {
    transform: scale(1.5);
  }
  
  .galleryImage {
    display: block; 
    width: auto; 
    max-width: 100%; 
    height: auto; 
  }
  
  .navButton {
    cursor: pointer; 
    padding: 10px 20px; 
    border: none;
    background-color: #000; 
    color: #fff; 
    font-size: 16px; 
    border-radius: 20px; 
    transition: background-color 0.2s; 
    box-shadow: 0 10px 10px rgba(0,0,0,0.2); 
  }
  
  .navButton:hover {
    background-color: #555;
  }
  
  

  
  
