/* Estilo CSS */
.divaw {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .h1aw {
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    color: #333; 
    text-transform: uppercase; 
    text-align: center; 
    margin: 0; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
