.logout-button {
    padding: 10px 20px;
    background-color: #2fd386; /* Rojo suave, pero puedes elegir cualquier color que se ajuste a tu diseño */
    color: #ffffff; /* Texto blanco para contraste */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px; /* Bordes ligeramente redondeados para una apariencia moderna */
    cursor: pointer;
    outline: none; /* Elimina el borde de enfoque para un look más limpio */
    transition: background-color 0.3s, transform 0.2s; /* Suave transición para hover y click */
    margin-top: 4px;
  }
  
  .logout-button:hover {
    background-color: #f44336; /* Un tono ligeramente más oscuro al pasar el mouse */
    transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
  }
  
  .logout-button:active {
    transform: scale(0.95); /* Ligeramente más pequeño al hacer click */
  }
  