body.pagina-especifica1 {
    background-color: #ffffff; /* Gris claro para el fondo de la página */
    height: 100%;
    margin: 0;
  }
  
  .div-general-01 {
    margin: 0 auto; /* Centra el div respecto al eje horizontal */
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%; /* Establece un ancho fijo para todas las cajas */
   /* max-width: 600px;  Máximo ancho para asegurar que no se vean demasiado grandes en pantallas grandes */
    padding: 0 20px; /* Añade un poco de espacio en los lados */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho final */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .titulo-principal-02, .subtitulo-03, .subtitulo-minor-04 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
  }

  .titulo-principal-02{
    color: #444;
    text-align: center;
  }
  
  .agradecimiento-background-05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(12, 98, 179);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 150px;
  }
  
  .agradecimiento-texto-06, .agradecimiento-subtexto-07 {
    margin: 0;
    color: white;
    text-align: center;
  }
  
  .linea-divisoria-08 {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .boton-volver-style-09 {
    display: block;
    width: fit-content;
    padding: 10px;
    background-color: #33ca72;
    color: white;
    border: none; /* Ajustado para quitar el borde */
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Esto ya está quitando el subrayado */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
    border-radius: 10px; /* Agrega bordes redondeados, ajusta según necesidad */
    margin-bottom: 50px;
    width: 200px;
  }
  
  
  .boton-volver-style-09:hover, .boton-volver-hover-10:hover {
    background-color: #2673a0; /* Cambia el color del botón al pasar el ratón */
  }
  
  /* Estilo adicional para secciones */
  .seccion-background-11 {
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Asegura consistencia en el ancho */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
  }
  
  .texto-estilo-12 {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
  }
  
  .formData-estilo-13 {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
  }

  .link{
    text-decoration: none;
    
  }
  
  
  