body.pagina-especifica1 {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
  }
  
  .div-general-01 {
    margin: 0 auto; 
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%; 
    padding: 0 20px; 
    box-sizing: border-box; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .titulo-principal-02, .subtitulo-03, .subtitulo-minor-04 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
  }

  .titulo-principal-02{
    color: #444;
    text-align: center;
  }
  
  .agradecimiento-background-05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(12, 98, 179);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 150px;
  }
  
  .agradecimiento-texto-06, .agradecimiento-subtexto-07 {
    margin: 0;
    color: white;
    text-align: center;
  }
  
  .linea-divisoria-08 {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .boton-volver-style-09 {
    display: block;
    width: fit-content;
    padding: 10px;
    background-color: #33ca72;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease; 
    border-radius: 10px; 
    margin-bottom: 50px;
    width: 200px;
  }
  
  
  .boton-volver-style-09:hover, .boton-volver-hover-10:hover {
    background-color: #2673a0;
  }
  
  
  .seccion-background-11 {
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
  }
  
  .texto-estilo-12 {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
  }
  
  .formData-estilo-13 {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
  }

  .link{
    text-decoration: none;
    
  }
  
  
  
